@import "../../../App.scss";

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 300px;
  padding: 40px 20px 30px 20px;
  border: 1px solid $second-color;

  img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgb(70, 69, 69);

  }

  .product-card__name {
    width: 300px;
    height: 42px;
    font-weight: 500;
    font-size: 21px;
    line-height: 21px;
    align-self: flex-start;
  }

  .product-card__description {
    width: 300px;
    height: 85px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .product-card__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p {
      font-weight: 500;
      font-size: 17px;
      line-height: 21px;

      .product-card__price_price-data {
        font-size: 20px;
      }
    }

    a {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-decoration: none;
      font-size: 24px;
      border: 1px solid white;

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $second-color;
      }
    }
  }

  &:hover {
    .product-card__name,
    .product-card__description,
    .product-card__price p span {
      color: $second-color;
    }
  }
}
